# Audio resources
*.wav
*.sofa
*.3dti-hrtf
*.sofa
*.dll
!resources/*

# Necessary bin/data files
!bin
bin/*
!bin/*.dll
!bin/data/
!bin/data/resources/*.sofa
bin/data/*.csv
bin/hdf*.dll
bin/libcurl.dll
bin/zlib1.dll
bin/netcdf.dll
!bin/data/resources

# Installer
Installer/ISM Simulator Installer/Release/
!Installer/redist/*

#WorkFolder
bin/data/resources/workFolder/